include mixins/_classes.pug
include mixins/_remixicon.pug
include mixins/_scripts.pug
include mixins/_navigation.pug

doctype html
html(lang=lang, data-theme=theme)
    head
        title INSA - Internationalisering av samverkan
        link(rel='stylesheet', href='/css/critical.css')

        block head
    body
        article#app
            header.header
                a.header__logo(href='/')
                    include partials/logo.svg.pug
                h1.header__title #[a(href='/') INSA]

            main
                block content
                footer 

        link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css')
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="//fonts.googleapis.com/css2?family=Fira+Code&display=swap", rel="stylesheet")
        link(href="//fonts.googleapis.com/css2?family=Public+Sans:wght@100;400;600;700;800;900&display=swap", rel="stylesheet")
        link(rel='stylesheet', href='/css/non-critical.css') 

        +script('/js/main.js')

        +renderScripts()
        
        block styles
        block scripts