include mixins/_classes.pug
include mixins/_remixicon.pug
include mixins/_scripts.pug
include mixins/_navigation.pug

doctype html
html(lang=lang, data-theme=theme)
    head
        title Plinco

        //  Halfmoon CSS 
        link(href="//cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css", rel="stylesheet")
        link(href="/css/main.css", rel="stylesheet")

        block head
    body.dark-mode(data-sidebar-shortcut-enabled="true", data-dm-shortcut-enabled="true")
        .page-wrapper.with-navbar.with-sidebar.with-navbar-fixed-bottom(data-sidebar-type="overlayed-sm-and-down")
            //  Sticky alerts (toasts), empty container 
            .sticky-alerts
            //  Navbar 
            nav.navbar            
            
            //  Sidebar overlay 
            .sidebar-overlay(onclick="halfmoon.toggleSidebar()")
            //  Sidebar 
            .sidebar
            
            //  Content wrapper 
            .content-wrapper
                block content            
            
            //  Navbar fixed bottom 
            nav.navbar.navbar-fixed-bottom            
            
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,700;0,900;1,300&display=swap", rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js")
      
        block styles
        block scripts