// ?xml version="1.0" encoding="UTF-8"?
svg(width="85.9mm", height="85.9mm", version="1.1", viewBox="0 0 85.9 85.9", xmlns="http://www.w3.org/2000/svg", xmlns:cc="http://creativecommons.org/ns#", xmlns:dc="http://purl.org/dc/elements/1.1/", xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#")
  defs
    filter#filter2347(x="-1.32e-6", y="-5.13e-7", width="1", height="1", color-interpolation-filters="sRGB")
      feGaussianBlur(stdDeviation="5.6834269e-05")
    filter#filter2347-0(x="-6.27e-7", y="-4.2e-7", width="1", height="1", color-interpolation-filters="sRGB")
      feGaussianBlur(stdDeviation="5.6834269e-05")
    filter#filter3579(x="-7.3e-7", y="-4.47e-7", width="1", height="1", color-interpolation-filters="sRGB")
      feGaussianBlur(stdDeviation="5.6834272e-05")
  g(transform="translate(-59 -34.3)")
    g
      g(transform="translate(4.7 -4.69)", fill-rule="evenodd")
        path(transform="matrix(.265 0 0 .265 -7.81 3.29)", d="m512 183c-13.1 86-33.4 175-56.2 266a162 162 0 0 0 103-151 162 162 0 0 0-47.2-114z", fill="#ffba99", filter="url(#filter2347)", style="mix-blend-mode:normal")
        path(transform="matrix(.265 0 0 .265 -7.81 3.29)", d="m397 135a162 162 0 0 0-22.7 1.6c-30.5 89.6-64.2 181-94.7 273a162 162 0 0 0 117 50.3 162 162 0 0 0 35.5-3.92c20.4-96.2 43.4-192 64.5-286a162 162 0 0 0-99.9-34.4 162 162 0 0 0-0.0117 0z", fill="#fc2678", filter="url(#filter2347-0)", style="mix-blend-mode:normal")
      g(transform="translate(4.7 -4.69)", style="mix-blend-mode:multiply")
        path(transform="matrix(.265 0 0 .265 -7.81 3.29)", d="m319 155a162 162 0 0 0-84.6 143 162 162 0 0 0 162 162 162 162 0 0 0 24.6-1.88c-25.6-101-63.6-202-102-303z", fill="#24c9f2", fill-rule="evenodd", filter="url(#filter3579)", style="mix-blend-mode:normal")
    